<li id="product-<%= product.id %>">
  <%= link_to gravatar_for(product.user, size: 50), product.user %>
  <span class="user"><%= link_to product.user.firstname, product.user %></span>
  <span class="description">
  <span class="product"> Product Name: <%= product.product %> </span>
  <span class="product"> Brand: <%= product.brand %> </span>
  <span class="product"> Category: <%= product.category %> </span>
  <span class="product"> Price: SGD$  <%= number_with_precision(product.price, precision: 2) %> </span>
  <span id="description"> Description: <%= product.description %> </span>
    <%= image_tag product.picture.url if product.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(product.created_at) %> ago.
    <% if current_user?(product.user) %>
      <%= link_to "delete", product, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>

    <%= form_for([@review.product_id, @review]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :product_id, :value => product.id  %>
      <h5> Write your review </h5>
      <div class="field">
        <%= f.text_area :content, placeholder: "Share a new review..." %>
      </div>
      <%= f.submit "Share your review", class: "btn btn-primary", id: "loginbtn" %>
    <% end %>

    </span>

</li>
