<li id="product-<%= product.id %>">
  <%= link_to gravatar_for(product.user, size: 50), product.user %>
  <span class="user"><%= link_to product.user.firstname, product.user %></span>
  <span class="description">
  <span class="product"> Product Name: <%= product.product %> </span>
  <span class="product"> Brand: <%= product.brand %> </span>
  <span class="product"> Category: <%= product.category %> </span>
  <span class="product"> Price: SGD$  <%= number_with_precision(product.price, precision: 2) %> </span>
  <span id="description"> Description: <%= product.description %> </span>
    <%= image_tag product.picture.url if product.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(product.created_at) %> ago.
    <% if current_user?(product.user) %>
      <%= link_to "DELETE", product, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <%= link_to "EDIT", edit_product_path(product.id) %>
    <% end %>
    <%= link_to "REVIEWS", product %>
    </span>

</li>
